{% extends 'base.html.twig' %}

{% block title %}TTC - Acceuil{% endblock %}

{% block body %}
<div class="flex justify-between">
  <div class="w-[50%]">
    <h1 class="text-3xl font-bold uppercase text-pink-500 max-w-screen-xl mb-12 ml-20">Trouve ta chaussette</h1>
    <p class="ml-20 max-w-[500px]">Bienvenue dans notre application de rencontre dédiée aux chaussettes célibataires ! 
    Notre plateforme vous offre l'opportunité unique de réunir les moitiés égarées de vos chaussettes préférées. 
    Trouvez la correspondance parfaite et mettre fin à la solitude de vos chaussettes orphelines. 
    C'est le rendez-vous incontournable pour une histoire de pieds réussie !</p>
    </div>
    <div class="">
    <img src="{{ asset('/picture/imgmarceau/miam.jpg') }}">
    </div>
    </div>

    <h2 class=" text-3xl font-bold uppercase text-pink-500 flex justify-center max-w-screen-xl mb-10 mr-auto ml-auto">Témoignage
    </h2>
    <p class=" max-w-[500px] mx-auto mb-6">Joséphine, ma chausette préférée, avait disparu dans le tourbillon d'un lave-linge. Grâce à notre application, elle a 
    finalement retrouvé sa moitié, et leur amour est désormais indissociable, tout comme eux !</p>
    <iframe class="mx-auto" width="560" height="315" src="https://www.youtube.com/embed/jjzqpsfM2W4?si=Fb5fUfgia0MmlvP2" frameborder="0" allowfullscreen></iframe>
{% endblock %}
