{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}


    {% block body %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="text-3xl font-bold uppercase text-pink-500 flex justify-center max-w-screen-xl mb-24 mr-auto ml-auto">Connexion</h1>
    
        <div class = flex justify-center>
        <form class="mr-auto ml-auto max-w-screen-xl" action="{{ path('app_login') }}" method="post">
         <div class=" flex mb-16">
            <div class="mr-10">
             <label class="mr-5"  for="username">Email:</label>
             <input class="border-b border-black outline-none" type="text" id="username" name="_username" value="{{ last_username }}">
            </div>

            <label class="mr-5"  for="password">Password:</label>
            <input class="border-b border-black outline-none" type="password" id="password" name="_password">

            {# If you want to control the URL the user is redirected to on success
           <input type="hidden" name="_target_path" value="/account"> #}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
         </div>
           <div class="flex justify-center">
            <button class="border-2 border-pink-500 px-8 py-1 text-pink-500 font-semibold "  type="submit">login</button>
           </div>
        </form>
        </div>
    {% endblock %}
