{% extends 'base.html.twig' %}

{% block title %}Hello SockController!{% endblock %}

{% block body %}
        {% include 'sock/_filter.html.twig'%}
        <div class="grid grid-cols-3">
            {% if (socks) %}
                {% for socklonely in socks %}
                    {% include 'sock/_card.html.twig' %}
                {% endfor %}
            {% endif %}
        </div>
{% endblock %}
