{% extends 'base.html.twig' %}

{% block title %}Hello SockController!{% endblock %}

{% block body %}
<button type="button">Couleur</button><button type="button">Formes</button>
{% include 'sock/_card.html.twig'%}

{% endblock %}
