{% extends 'base.html.twig' %}

{% block title %}Hello SockController!{% endblock %}

{% block body %}
    <div class="grid grid-cols-3">
        {% if (socklonelies) %}
            {% for socklonely in socklonelies %}
                {% include 'sock/_card.html.twig' %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
